.hero {
  padding: 40px 0;
  @media (max-width: 991px) {
    padding: 30px 0;
  }
  @media (max-width: 768px) {
    padding: 15px 0;
  }
  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    @media (max-width: 991px) {
      gap: 10px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      display: none;
    }
    li {
      color: #fff;
      font-size: 21px;
      line-height: 20px;
      padding-left: 30px;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fcbf24;
        margin-left: 10px;
        position: absolute;
        left: 0;
        top: 30%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }
  &__bottom-span {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #a0a09f;
    @media (max-width: 991px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
      gap: 0px;
    }

    img {
      @media (max-width: 991px) {
        display: none;
        gap: 0;
      }
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 991px) {
      gap: 0px;
    }
    h1 {
      max-width: 1000px;
      font-weight: 800;
      text-transform: uppercase;
      color: #fff;
      @include adaptiv-font(80, 16, 1);
      @media (max-width: 1440px) {
        max-width: 800px;
      }

      @media (max-width: 991px) {
        text-align: center;
        line-height: 50px;
      }
      @media (max-width: 768px) {
        text-align: center;
        line-height: 30px;
      }
      span {
        // background: linear-gradient(180deg, #4fe5ff 0%, #006eee 100%);
        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;

        color: #fcbf24;
      }
    }
  }
  &__hero-text {
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  &__text {
    @include adaptiv-font(20, 14, 1);
    font-weight: 600;
    color: #bfbfbf;
    line-height: 30px;
  }
}
