.privacy {
  margin: 50px 0;
  &__body {
    display: flex;
    flex-direction: column;
    h2 {
      @include adaptiv-font(40, 19, 1);
      padding: 20px 0;
      line-height: 120%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      background: linear-gradient(180deg, #4fe5ff 0%, #006eee 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (max-width: 768px) {
        padding: 20px 0;
      }
      @media (max-width: 556px) {
        padding: 5px 0;
      }
    }
    p {
      @include adaptiv-font(20, 14, 1);
      font-weight: 600;
      color: #bfbfbf;
      line-height: 30px;
    }
  }
}
