@use "sass:math";

// Подключение шрифтов локально из папки "./src/fonts" =======================================================================================================================
@import "config/fonts";

// Подключение sass функций и миксинов и рассширений стилей =======================================================================================================================
@import "config/functions";
@import "config/patternSelectors";

// Подключение переменных =======================================================================================================================
@import "config/vars";

// Обнуление =======================================================================================================================
@import "config/reset";

/* =======================================================================================================================
* Библиотеки
* раскомментировать для использования 
*/
// @import 'libs/aos';
// @import 'libs/swiper';

// Подлючение кастомного скрола для всего сайта =======================================================================================================================
@import "config/scrollbar";

// БЕМ блоки используемые во всё проекте =======================================================================================================================
@import "config/common";

.main {
  min-height: calc(100vh - 513px);
  flex: 1 1 auto;
  margin-top: 170px;

  @media (max-width: 1200px) {
    margin-top: 80px;
  }
}

//<МИКСИНЫ>===============================================================================================
@import "config/mixins";
//</МИКСИНЫ>===============================================================================================

//<Шаблоны>==========================================================================================

@import "config/base";

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

body {
  color: #fff;
  background-color: #11111b;
  font-size: 14px;

  &._lock {
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;

  @media (max-width: $md1+px) {
    max-width: 750px;
  }

  @media (max-width: $md2+px) {
    max-width: none;
    padding: 0 15px;
  }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import "layout/header";
@import "layout/footer";
@import "sections/hero";
@import "sections/case";
@import "sections/text";
@import "sections/logos";
@import "contacts/contacts";
@import "privacy/privacy";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  // padding: 90px 0px 0px 0px;
  flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

.footer {
}
